

#em_calendar_view_container {
  .fc-day-header {
    border:solid 1px #125890;
  }
  .fc-header{  
    .fc-button {
      background-image:none;
      background-color:white;
      border:solid 1px #125890;
      border-radius:0px;
    }
    .fc-button.fc-state-active {
      border:solid 2px #125890;
    }

    .fc-header-title {
    
      h2 {
        font-size:150%;
      }
    }
  }
  table.fc-border-seperate {
    border-collapse:collapse;
  }
  th.fc-day-header {
    color:#3e433e;
  }
} 



.empty_events {
  font-weight:bold;
  font-size:200%;
  color:#777;
  padding-left:10%;
}

#view_type_events {
  .em_calendar_view {
    margin-left:773px;
    margin-right:20px;
    color:grey;
    margin-bottom:40px;
    .fc-header .fc-header-title {
      h2 {
        font-size:130%;
      }
    }
  }
  .em_list_view {
    color:grey;
  }
}

div#add_event {
  float:right;
  margin-right:9%;
  margin-bottom:10px;
  padding-top:7px;
  height:70px;
  position:fixed;
  top:55px;
  left:88%;
  background-color:white;
  padding-left:10px;
  padding-right:10px;
  .em_btn#add_event_button {
    padding:12px 30px 12px 30px;
    background-color:#003775;
  } 
}

div#events_container {
  float:left;
}
.em_btn#add_event_button {
  margin-bottom:30px;
  float:right;
  cursor:pointer;
}

.region.well.region-sidebar-first {
  background-image:none;
  background-color:transparent;
  padding:0px;
  ul.nav-list {
    padding:0px;
    li {
      padding-left:10px;
      border-bottom:solid 1px #e0e0e0;
    }
    li.active {
      border-left:solid 5px #55acee;
      a {
        background-color:transparent;
        text-shadow:0 -1px 0 rgba(0,0,0,0.2);
        color:#0088cc;
      }
    }
  }
}



div.event_container {
  float:left;
  list-style:none;
  clear:both;
  margin-bottom:20px;
  float:left;
  border-bottom:dotted 1px #aaa;
  padding-bottom:4px;
  .event_date_time {
    color:#aaa;
    font-weight:bold;
    font-size:16px;
    text-transform:uppercase
  }
  .event_time {
    width:100px;
    height:110px;
    float:left;
    font-weight:bold;
  }
  .event_inner_container {
    height:140px;
    overflow:hidden;
    float:left;
    .event_place {
      float:left;
      color:#aaa;
      font-size:13px;
    }
    .event_title { 
      a {
        color:#003775;
        text-decoration:none;
      }
      float:left;
      clear:both;
      font-size:20px;
      color:#008484;
      margin-top:7px;
    }
    .event_description {
      color:#777;
      float:left;
      clear:both;
      margin-top:5px;
    }
  }

}