#addEventModal,div[id*="editEventModal"] {
    #edit-submit {
      display:none;
    }
    .delete_event {
      color:black;
      cursor:pointer;
    }
	left:700px;
	width:700px;
	background:transparent;
	overflow:hidden;
	border:0px solid transparent;
	.modal-content {
	  -webkit-box-shadow:0 0px 0px rgba(0,0,0,0,0);
	  box-shadow: 0 0px 0px rgba(0,0,0,0,0);
      border:0px solid transparent;
    }
  .form-submit {
    display:none;
  }
}